<html>
<body>

    <h1 style="text-align: center; " >Income Prediction Form</h1>
 
<div>
  <form  style="text-align: center; " action="/result" method="POST">
    <label for="age"> <b>Age</b></label>
    <input type="text" id="age" name="age">
    <br>
    <br>
    <label for="relation"><b>Relationship<b></label>
    <select id="relation" name="relation">
      <option value="0">Husband</option>
      <option value="1">Not-in-family</option>
      <option value="2">Other-relative</option>
      <option value="3">Own-child</option>
      <option value="4">Unmarried</option>
      <option value="5">Wife</option>
    </select>
    <br>
    <br>
    <label for="c_gain"><b>Capital Gain <b></label>
    <input type="text" id="c_gain" name="c_gain">btw:[0-99999]
    <br>
    <br>
    <label for="hours_per_week"><b>Hours per Week<b> </label>
    <input type="text" id="hours_per_week" name="hours_per_week">btw:[1-99]
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>

